# Compiled Object files
*.slo
*.lo
*.o
obj/*

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#Compiled Binaries
bin/*

#Generated project
*.xcodeproj
*.xcworkspace
src/host/scripts.cpp
src/hlsl_parser/HLSLParser.*
src/hlsl_parser/HLSLLexer.*
*.sln
*.vcxproj
*.filters
*.tokens
*.ipch
output.ast
output.fx
premake4.exe
*.opensdf
*.sdf
*.suo
*.vcxproj.user
output.glfx
ShaderShaker.deproj
ShaderShaker.deuser
_ReSharper.*
output2.ast
*.deproj
*.deuser
Makefile
*.make

